body {
    margin: 0;
    padding: 0;
    background-color: #4d94ff;
}

/*===========================================
                   Generic css
=============================================
    color:#fff;
    font-weight: 700;
    font-size:22px;
    margin-left:30px;
    margin-top:30px;
*/

img{
  -webkit-print-color-adjust: exact;
}

.msee{
  color:#fff;
  font-weight: 700;
  font-size:19px;
  float:right;
  margin-top:-30px;
  margin-left:100px;
}

.eng{
  color:#fff;
  font-weight: 500;
  font-size:11px;
  margin-left:100px;
}

.h1 {
    text-align: center;
    color: #fff;
    font-weight: 700;
    font-family: "Times New Roman", Times, serif;
}

.h2 {
    font-size: 35px;
    text-align:left;
    padding-top:5px;
    padding-left:10px;
    color:#fff;
    font-weight: 600;
    font-family: "Times New Roman", Times, serif;

}
.vendor{
    font-size:22px;
    color:#fff;
    font-weight: 700;
    margin-left:30px;
    margin-top:30px;
    font-family: "Times New Roman", Times, serif;
}

.vendor-input{
    margin-left:25px;
    padding:10px 10px;
}

.cts{
    font-size:22px;
    color:#fff;
    font-weight: 700;
    margin-left:40px;
    margin-top:30px;
    font-family: "Times New Roman", Times, serif;
}
.basic{
  color:#fff;
  font-weight: 700;
  font-size:22px;
  margin-left:30px;
  margin-top:30px;
  font-family: "Times New Roman", Times, serif;
}

.nfs{
  width:400px;
  height:40px;
  padding:10px 10px;
  font-family: "Times New Roman", Times, serif;
}
.add2{
  width:400px;
  height:100px;
  margin-left:95px;
  position:static;
  font-family: "Times New Roman", Times, serif;
}
.alias{
  width:400px;
  height:40px;
  padding:10px 10px;
  margin-left:20px;
}
/*Supplier contact person common class*/

.scp{
  width:300px;
  height:40px;
  padding:10px 10px;
  font-family: "Times New Roman", Times, serif;
}

.scp2{
  width:300px;
  height:40px;
  padding:10px 10px;
  font-family: "Times New Roman", Times, serif;
}

.basic1{
  color:#fff;
  font-weight: 700;
  font-size:22px;
  margin-left:40px;
  margin-top:30px;
  font-family: "Times New Roman", Times, serif;
}
.gst{
  color:#fff;
  font-weight: 700;
  font-size:22px;
  margin-left:100px;
  margin-top:30px;
  font-family: "Times New Roman", Times, serif;
}
.cnt{
  width:300px;
  height:40px;
  padding:10px 10px;
  margin-left:60px;
  font-family: "Times New Roman", Times, serif;
}
.supp{
  color:#fff;
  font-weight: 700;
  font-size:22px;
  margin-left:100px;
  margin-top:30px;
  font-family: "Times New Roman", Times, serif;
}
.p18{
  font-size:22px;
  color:#fff;
  font-weight: 700;
  margin-left:20px;
  margin-top:30px;
  font-family: "Times New Roman", Times, serif;
}

.pod{
  font-size:22px;
  color:#fff;
  font-weight: 700;
  margin-left:70px;
  margin-top:30px;
  font-family: "Times New Roman", Times, serif;
}
.sitedet{
  font-size: 35px;
  text-align:left;
  padding-top:5px;
  padding-left:10px;
  color:#fff;
  font-weight: 600;
  font-family: "Times New Roman", Times, serif;
}

.site{
  color:#fff;
  font-weight: 500;
  font-size:25px;
  margin-left:40px;
  margin-top:30px;
  font-family: "Times New Roman", Times, serif;
}

.tac{
  color:#fff;
  font-weight: 700;
  font-size:22px;
  margin-left:50px;
  margin-top:20px;
}
.ptt{
  margin-left:40px;

}
.other{
  margin-left: 300px;
  margin-bottom:50px;

}
.button {
  background-color:#1a66ff;
  border: none;
  color: #fff;
  float:right;
  padding: 20px 32px;
  text-align: center;
  text-decoration: none;
  display: inline-block;
  font-size: 22px;
  margin-top:30px;
  cursor: pointer;

}
